body {
    background-image: url(../img/bg_01.jpg);
}

table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    text-align: center;
    background-color: rgb(54, 54, 54);
}

td, th {
    width: 9.0909%;
    height: 9.0909%;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

.userName {
    font-weight: bold;
    color: darkred;
}

#empty-cell {
    background-color: rgb(128, 128, 128);
}

.battleship {
    background-color: red;
}

.submarine {
    background-color: blue;
}

.destroyer{
    background-color: green;
}

.carrier{
    background-color: orange;
}

.patrolBoat {
    background-color: yellow;
}

.firedSalvoes {
    background-color: aqua;
    margin: 3px 3px 3px 3px;
    font-size: 12px;
}

.opponentSalvoes {
    background-color: rgb(0, 0, 0);
    margin: 2px 2px 2px 2px;
    font-size: 12px;
    color: white;
}

.opponentSuccessfulShot {
    background-color: gray;
    margin: 2px 2px 2px 2px;
    font-size: 12px;
    color: white;
}