table, td, th {
    border: 1px solid black;
}

table {
    width: 40%;
    text-align: center;
}

td, th {
    width: 30px;
}

#empty-cell {
    background-color: rgb(128, 128, 128);
}

.battleship {
    background-color: red;
}

.submarine {
    background-color: blue;
}

.destroyer{
    background-color: green;
}

.carrier{
    background-color: orange;
}

.patrolBoat {
    background-color: yellow;
}