<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <button v-on:click="saveShips(gamePlayerId)">Save ship locations</button>
                    <button class="btn btn-success btn-sm sideButton" onclick="javascript: window.location.href = 'games.html'">Leave game</button>
                    <button class="btn btn-danger btn-sm sideButton" v-on:click="logout()">Log Out</button>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-5">
                    <h1 id="gameTitle"><span class="userName">{{players.playerA.email}} (you)</span></h1>
                </div>
                <div class="col-5">
                    <h1 id="gameTitle"><span class="userName text-danger" v-if="Object.keys(players.playerB).length === 0">anybody (yet)</span><span class="userName text-danger" v-else>{{players.playerB.email}}</span></h1>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-5">
                    <table class="battleTable">
                        <thead>
                            <tr>
                                <td class="empty-cell"></td>
                                <th v-for="column in columns">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in rows">
                                <th>{{row}}</th>
                                <td v-for="column in columns" v-bind:id="'ships-' + row + column" v-on:mouseover="showShipsLocations"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="underTableText">
                        <p>This is your ship's board</p>
                    </div>
                </div>
                <div class="col-2">
                    <h1 id="gameTitle">vs</h1>
                </div>

                <div class="col-5">
                    <table class="battleTable">
                        <thead>
                            <tr>
                                <td class="empty-cell"></td>
                                <th v-for="column in columns">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in rows">
                                <th>{{row}}</th>
                                <td v-for="column in columns" v-bind:id="'salvoes-' + row + column"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="underTableText">
                    <p>This is your salvo's board</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="scripts/game.js"></script>
</body>
</html>